basic-osb-service/wsdl/ClienteLegacy.wsdl

<wsdl:definitions name="Cliente" targetNamespace="http://cookbook.sciensa.com/Cliente/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cookbook.sciensa.com/Cliente/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/cadastrar/">
  <wsdl:types>
    <xsd:schema>
    	<xsd:import namespace="http://www.example.org/cadastrar/" schemaLocation="../xsd/cliente.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/cadastrar/" schemaLocation="../xsd/cliente-legacy.xsd">
    	</xsd:import></xsd:schema><xsd:schema targetNamespace="http://cookbook.sciensa.com/Cliente/"/></wsdl:types>
  <wsdl:types>
  	<xsd:schema>
  		<xsd:import namespace="http://www.example.org/cadastrar/" schemaLocation="../xsd/cliente.xsd">
  		</xsd:import></xsd:schema></wsdl:types>
    <wsdl:message name="CadastrarRequest">
    <wsdl:part element="xsd1:CadastrarLegado" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CadastrarResponse">
    <wsdl:part element="xsd1:CadastrarLegadoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AtualizarRequest">
  	<wsdl:part name="parameters" element="xsd1:AtualizarLegado"/>
  </wsdl:message>
  <wsdl:message name="AtualizarResponse">
  	<wsdl:part name="parameters" element="xsd1:AtualizarLegadoResponse"/>
  </wsdl:message>
  <wsdl:portType name="Cliente">
    <wsdl:operation name="Cadastrar">
      <wsdl:input message="tns:CadastrarRequest"/>
      <wsdl:output message="tns:CadastrarResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
    	<wsdl:input message="tns:AtualizarRequest"/>
    	<wsdl:output message="tns:AtualizarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClienteSOAP" type="tns:Cliente">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="Cadastrar">
  		<soap:operation soapAction="http://cookbook.sciensa.com/Cliente/Cadastrar"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Atualizar">
  		<soap:operation soapAction="http://cookbook.sciensa.com/Cliente/Atualizar"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cliente">
    <wsdl:port binding="tns:ClienteSOAP" name="ClienteSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>